%ul
  = nav_link(path: 'profiles#show', html_options: {class: 'home'}) do
    = link_to profile_path, title: "Profile" do
      - # %i.icon-home
      Profile
  - unless current_user.ldap_user?
    = nav_link(controller: :passwords) do
      = link_to "Password", edit_profile_password_path
  = nav_link(path: 'profiles#design') do
    = link_to "Design", design_profile_path

